<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<div class="mycontainer">
    <div class="form_view">
        <h1>Login</h1>
        <form class="form-group" action="login.html" th:action="@{/login}" method="post">
            <div>
                <label for="email_login">E-mail</label>
                <input class="form-control" id="email_login" type="email"  placeholder="Inserisci la tua Email">
                <span></span>
            </div>
            <div>
                <label for="psw_login">Password</label>
                <input class="form-control" id="psw_login" type="password" placeholder="Inserisci la tua password">
                <span></span>
            </div>
            <div>
                <div class="custom-submit-btn"><button type="submit" class="btn btn-outline-primary">Login</button></div>
            </div>
        </form>
        <div class="link_to_register"><a href="register.html" th:href="@{/register}">Non sei registrato?</a></div>
    </div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
