<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<div class="mycontainer">
    <div class="form_view">
        <h1>Login</h1>
        <!--/*@thymesVar id="success" type="java.lang.String"*/-->
        <div class="alert alert-primary" role="alert" th:classappend="${success==null} ? hide" th:text="${success}"></div>
        <form class="form-group" action="login.html" th:action="@{/login}" method="post" th:object="${command}">
            <div>
                <label for="email_login">E-mail</label>
                <input th:classappend="${#fields.hasErrors('email')} ? error_input" class="form-control" id="email_login" type="email" th:field="*{email}" placeholder="Inserisci la tua e-mail">
                <span class="error_msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div>
                <label for="psw_login">Password</label>
                <input th:classappend="${#fields.hasErrors('psw')} ? error_input" class="form-control" id="psw_login" type="password" placeholder="Inserisci la tua password" th:field="*{psw}">
                <span class="error_msg" th:if="${#fields.hasErrors('psw')}" th:errors="*{psw}"></span>
            </div>
            <div>
                <div class="custom-submit-btn"><button type="submit" class="btn btn-outline-primary">Login</button></div>
            </div>



        </form>
        <div class="link_to_register"><a href="register.html" th:href="@{/register}">Non sei registrato?</a></div>

    </div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
